* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: sans-serif;
    background-color: #bcb8b1;
}

#root {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    width: 50vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8a817c;
    border-radius: 14px;
}

.modal__container {
    width: 50%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.container__radio {
    display: flex;
    justify-content: space-around;
}

.board__game {
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(3, 0fr);
}

.board--box {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blanchedalmond;
}
